Flask==3.0.0

frozenlist==1.5.0

gunicorn==21.2.0

idna==3.10

itsdangerous==2.1.2

Jinja2==3.1.3

MarkupSafe==3.0.2

multidict==5.2.0

packaging==24.2

pip-review==1.3.0

propcache==0.2.1

pyaes==1.6.1

pymediainfo-pyrofork==6.0.2

pymongo==4.5.0

pyrofork==2.3.52

PySocks==1.7.1

TgCrypto==1.2.3

TgCrypto-pyrofork==1.2.7

uvloop==0.21.0

Werkzeug==3.0.0

yarl==1.18.3
pyrogram
tgcrypto-pyrofork
uvloop
pyrofork==2.3.45
tgcrypto
motor
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
